.main {
    width: 50%;
    height: 50%;
}

img {
    width: 500px;
}

.btn {
    background-color: lightgrey;
    color: black;
    margin: 5px;
    padding: 5px;
    border: none;
}

.btn :hover {
    background-color: grey;
}